@import se.lu.nateko.cp.viewscore.ImportVersions._

@(title: String)(customHeader: Html)(body: Html)
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="//static.icos-cp.eu/css/bootstrap/@{bootstrapCSS}/icos-bootstrap.css">
	<link rel="stylesheet" href="//use.fontawesome.com/releases/v@{fontAwesome}/css/all.css">
	<link rel="shortcut icon" type="image/png" href="https://static.icos-cp.eu/images/favicon.png"/>

	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	@customHeader

	<title>@title</title>

</head>
<body>
@body
</body>
