@import se.lu.nateko.cp.meta.core.data.Envri.Envri
@import se.lu.nateko.cp.meta.core.data.EnvriConfig

@()(implicit envri: Envri, conf: EnvriConfig)
@CpCommonPage("ICOS ETC logger facade status", authHost = conf.authHost, dataHost = conf.dataHost){
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="etcfacade.js"></script>
}{

<div class="page-header">
	<h1>ETC logger facade status <small>Get your password here</small></h1>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Station-specific passwords</h3>
	</div>
	<div class="panel-body" id="pipasswords">

		<table class="table" style="display:none">
			<thead>
				<tr><th>Station ID</th><th>Password</th><th></th></tr>
			</thead>

			<tbody>
				<tr class="stationRow" style="display:none">
					<th></th>
					<td>
						<input type="password">
					</td>
					<td>
						<button type="button" class="btn btn-default">Show password</button>
					</td>
				</tr>
			</tbody>

		</table>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Files in staging</h3>
	</div>
	<div class="panel-body">
		<div class="ratio ratio-16x9">
			<iframe src="/upload/etc/staging/"></iframe>
		</div>
	</div>
</div>

}
