@import akka.http.scaladsl.model.Uri
@import se.lu.nateko.cp.meta.core.crypto.Sha256Sum
@import eu.icoscp.envri.Envri
@import se.lu.nateko.cp.meta.core.data.EnvriConfigs
@import se.lu.nateko.cp.meta.core.HandleProxiesConfig
@import se.lu.nateko.cp.data.routes.LicenceRouting._

@(profile: LicenceProfile, loginUri: Option[Uri], handleProxies: HandleProxiesConfig)(implicit envri: Envri, envriConfigs: EnvriConfigs)

@template{
	<style>@LicenceStyle()</style>

	<script type="application/javascript">
			function toggleAccordion(btn) {
				if (Array.from(btn.classList).includes("collapsed"))
					openAccordion(btn);
				else
					closeAccordion(btn);
			}

			function openAccordion(btn) {
				btn.classList.remove("collapsed");
				const bodySection = btn.parentNode.nextElementSibling;
				bodySection.classList.remove("collapse");
				bodySection.classList.add("collapsing");

				const complete = () => {
					bodySection.classList.remove("collapsing");
					bodySection.classList.add("collapse", "show");

					bodySection.style.height = "";
					bodySection.removeEventListener('transitionend', complete);
				}

				bodySection.addEventListener('transitionend', complete);
				bodySection.style.height = bodySection.scrollHeight + "px";
			}

			function closeAccordion(btn) {
				btn.classList.add("collapsed");
				btn.parentNode.nextElementSibling.classList.remove("show");
			}
	</script>
}{
<div class="licence-page">

<div class="page-header border-bottom">
	<h1>@pageTitle</h1>
</div>

<p class="pt-5 pb-3">
	@name data is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 international licence.</a>
	<img src="https://www.icos-cp.eu/sites/default/files/inline-images/creativecommons.png" class="ps-2" style="vertical-align: -1px" />
</p>

	@licenceText

	@profile match{
		case uris: UriLicenceProfile => {
			@for(licenceAcceptUri <- uris.licenceAcceptUri){
				@acceptLicence{
					@yesNoButtonsDiv{
						<a id="downloadBtn" class="btn btn-primary btn-lg btn-licence" href=@{licenceAcceptUri}>Yes, I accept</a>
					}
				}
			}
		}
		case forms: FormLicenceProfile =>{
			@for(formInfo <- forms.formInfo){
				@acceptLicence{
					<form action="/objects" method="post">
						@for((name, value) <- formInfo){
							<input type="hidden" name="@name" value="@value" />
						}
						@yesNoButtonsDiv{
							<button id="downloadBtn" class="btn btn-primary btn-lg btn-licence">Yes, I accept</button>
						}
					</form>
				}
			}
		}
	}

</div>

}

@licenceText = @{
	if(envri == Envri.SITES) LicenceSitesText() else LicenceIcosText(handleProxies)
}

@acceptLicence(yesNoButtons: Html) = {
	<div class="row">
		<div class="col mt-4">
			<div class="bg-light p-3">
			<div class="form-check">
				<input id="agreementChkBx" class="form-check-input d-none" type="checkbox">
				<label class="form-check-label" for="agreementChkBx">
					I hereby confirm that I have taken notice of the information provided to inform me about the
					data and good practices of data usage. These guidelines do not define additional contractual
					conditions.
				</label>
			</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col">
			@yesNoButtons
		</div>
	</div>
}

@yesNoButtonsDiv(yesButton: Html) = {
	<div class="d-flex flex-wrap py-3">
		@yesButton
		@for(userLoginUri <- loginUri){
			<a class="btn btn-outline-secondary btn-lg btn-licence" href=@{userLoginUri} target="_blank">Log in to accept permanently</a>
		}
		<a id="cancelBtn" class="btn btn-outline-secondary btn-lg btn-licence" style="display:none;" href="javascript:window.history.go(-1);">Go back</a>
		<script type="application/javascript">
			const downloadBtn = document.getElementById("downloadBtn");

			function toggleBtn(disabled){
				if (disabled){
					downloadBtn.setAttribute("disabled", disabled.toString());
					downloadBtn.setAttribute("class", "btn btn-primary btn-lg btn-licence disabled");
				} else {
					downloadBtn.removeAttribute("disabled");
					downloadBtn.setAttribute("class", "btn btn-primary btn-lg btn-licence");
				}
			}

			window.addEventListener("load", () => {
				downloadBtn.innerHTML = "Download";

				const cancelBtn = document.getElementById("cancelBtn");
				cancelBtn.setAttribute("style", "display: inline-block;");

				const agreementChkBx = document.getElementById("agreementChkBx");
				agreementChkBx.classList.remove('d-none');
				agreementChkBx.addEventListener("click", function(){
					toggleBtn(!this.checked);
				});

				toggleBtn(!agreementChkBx.checked);
			});

		</script>
	</div>
}

@template = @{
	if(envri == Envri.SITES) SitesPage(pageTitle) _
	else CpCommonPage(pageTitle) _
}

@pageTitle = @{
	if(envri == Envri.SITES) name + " Data Policy" else name + " Data Licence"
}

@name = @{
	envri.toString
}

@conf = @{envriConfigs(envri)}
