@import akka.http.scaladsl.model.Uri
@import se.lu.nateko.cp.meta.core.crypto.Sha256Sum
@import se.lu.nateko.cp.meta.core.data.Envri
@import se.lu.nateko.cp.meta.core.HandleProxiesConfig
@import se.lu.nateko.cp.data.routes.LicenceRouting._

@(profile: LicenceProfile, loginUri: Option[Uri], handleProxies: HandleProxiesConfig)(implicit envri: Envri.Envri)

@template{
	<style>@LicenceStyle()</style>
	<style type="text/css">
		details{
			border: 1px solid #ddd;
			border-radius: 3px;
			margin-bottom: 20px;
		}
		details summary{
			padding: 15px;
			font-size: 20px;
			text-align: center;
			cursor: pointer;
			background-color: #f5f5f5;
		}
		details summary:hover{
			background-color:#d5d5d5;
		}
		details summary img{
			height: 50px;
		}
		details summary h4{
			font-size: 20px;
			margin-top: 15px;
			margin-bottom: 0;
		}
		details div{
			padding: 15px;
		}
	</style>
}{
<div class="cp_page_container">

<div class="cp_page_header">
	<h1>@pageTitle</h1>
</div>

<div class="col_1">
  <div class="inner">
    <h4><img src="https://www.icos-cp.eu/sites/default/files/inline-images/creativecommons.png" style="margin-right:10px" />
			@name data is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 international licence</a></h4>
  </div>
</div>

	@licenceText

	@for(userLoginUri <- loginUri){
		<div class="col-sm-12 col-md-6 col-md-offset-3">
			<div class="link_box inner">
				<a href=@{userLoginUri} target="_blank"><h5>Log in to accept permanently</h5></a>
			</div>
		</div>
	}

	@profile match{
		case uris: UriLicenceProfile => {
			@for(licenceAcceptUri <- uris.licenceAcceptUri){
				@acceptLicence{
					@yesNoButtonsDiv{
						<a id="downloadBtn" class="btn btn-primary btn-lg btn-licence" href=@{licenceAcceptUri}>Yes, I accept</a>
					}
				}
			}
		}
		case forms: FormLicenceProfile =>{
			@for(formInfo <- forms.formInfo){
				@acceptLicence{
					<form action="/objects" method="post">
						@for((name, value) <- formInfo){
							<input type="hidden" name="@name" value="@value" />
						}
						@yesNoButtonsDiv{
							<button id="downloadBtn" class="btn btn-primary btn-lg btn-licence">Yes, I accept</button>
						}
					</form>
				}
			}
		}
	}

</div>

}

@licenceText = @{
	if(envri == Envri.SITES) LicenceSitesText() else LicenceIcosText(handleProxies)
}

@acceptLicence(yesNoButtons: Html) = {
	<div class="col-sm-6 col-md-4 col-md-offset-2">
		<div class="notice inner">
			<p style="display: grid;">
				<span id="agreementChkBx" style="grid-column: 1"></span>
				<span style="grid-column: 2">
					I hereby confirm that I have taken notice of the information provided to inform me about the data and
					good practices of data usage. These guidelines do not define additional contractual conditions.
				</span>
			</p>
		</div>
	</div>

	<div class="col-sm-6 col-md-4">
		@yesNoButtons
	</div>
}

@yesNoButtonsDiv(yesButton: Html) = {
	<div class="buttons inner">
		@yesButton
		<a id="cancelBtn" class="btn btn-default btn-lg btn-licence" style="display:none;" href="javascript:window.history.go(-1);">Go back</a>
		<script type="application/javascript">
			function toggleBtn(disabled){
				if (disabled){
					downloadBtn.setAttribute("disabled", disabled.toString());
					downloadBtn.setAttribute("class", "btn btn-primary btn-lg btn-licence disabled");
				} else {
					downloadBtn.removeAttribute("disabled");
					downloadBtn.setAttribute("class", "btn btn-primary btn-lg btn-licence");
				}
			}

			function addCheckbox(){
				const checkBoxBtn = document.createElement("button");
				checkBoxBtn.setAttribute("class", "btn btn-default");
				checkBoxBtn.setAttribute("style", "pointer-events: auto; padding: 2px 5px; margin-right: 5px;");

				checkBoxBtn.addEventListener("click", function(){
					const disabled = !!parseInt(this.firstChild.style.opacity);
					this.firstChild.style.opacity = disabled ? "0" : "1";
					toggleBtn(disabled);
				});

				const checkBoxTick = document.createElement("span");
				checkBoxTick.setAttribute("class", "glyphicon glyphicon-ok");
				checkBoxTick.setAttribute("style", "opacity: 0;");
				checkBoxBtn.appendChild(checkBoxTick);

				const agreementChkBx = document.getElementById("agreementChkBx");
				agreementChkBx.append(checkBoxBtn);
			}

			window.addEventListener("load", () => {
				const downloadBtn = document.getElementById("downloadBtn");
				downloadBtn.innerHTML = "Download";

				const cancelBtn = document.getElementById("cancelBtn");
				cancelBtn.setAttribute("style", "display: inline-block;");

				toggleBtn(true);
				addCheckbox();
			});

		</script>
	</div>
}

@template = @{
	if(envri == Envri.SITES) SitesPage(pageTitle) _ else CpCommonPage(pageTitle) _
}

@pageTitle = @{
	if(envri == Envri.SITES) name + " Data Policy" else name + " Data Licence"
}

@name = @{
	envri
}
