@import se.lu.nateko.cp.meta.core.data.Envri
@import se.lu.nateko.cp.meta.core.data.Envri.Envri

@(envri: Envri)

/** Body content **/

.cp_page_container {
  max-width: 1290px;
  margin-left: auto;
  margin-right: auto;
}

.cp_page_header {
  text-align: center;
  margin-bottom: 40px;
}

.cp_body_content {
  display: block;
}

.cp_body_content .col_1 {
  display: block;
  width: 100%;
}

.cp_body_content .col_1 .inner {
  margin: 0 20px 40px 20px;
}

@@media all and (max-width: 800px) {
  .cp_body_content .col_6_1,
  .cp_body_content .col_6_2,
  .cp_body_content .col_6_3,
  .cp_body_content .col_6_4,
  .cp_body_content .col_6_5,
  .cp_body_content .col_6_6 {
    width: 100%;
    display: block;
  }

  .cp_body_content .col_6_1 .inner,
  .cp_body_content .col_6_2 .inner,
  .cp_body_content .col_6_3 .inner,
  .cp_body_content .col_6_4 .inner,
  .cp_body_content .col_6_5 .inner,
  .cp_body_content .col_6_6 .inner {
    margin: 0 20px 40px 20px;
  }
}

@@media all and (min-width: 801px) and (max-width: 1199px) {
  .cp_body_content .col_6_1,
  .cp_body_content .col_6_2,
  .cp_body_content .col_6_3,
  .cp_body_content .col_6_4,
  .cp_body_content .col_6_5,
  .cp_body_content .col_6_6 {
    width: 50%;
    float: left;
  }

  .cp_body_content .col_6_1 .inner,
  .cp_body_content .col_6_2 .inner,
  .cp_body_content .col_6_3 .inner,
  .cp_body_content .col_6_4 .inner,
  .cp_body_content .col_6_5 .inner,
  .cp_body_content .col_6_6 .inner {
    margin: 0 20px 40px 20px;
  }
}

@@media all and (min-width: 1200px) {
  .cp_body_content .col_6_1,
  .cp_body_content .col_6_2,
  .cp_body_content .col_6_3,
  .cp_body_content .col_6_4,
  .cp_body_content .col_6_5,
  .cp_body_content .col_6_6 {
    width: 33%;
    float: left;
  }

  .cp_body_content .col_6_1 .inner,
  .cp_body_content .col_6_2 .inner,
  .cp_body_content .col_6_3 .inner,
  .cp_body_content .col_6_4 .inner,
  .cp_body_content .col_6_5 .inner,
  .cp_body_content .col_6_6 .inner {
    margin: 0 20px 40px 20px;
  }
}

.cp_body_content h3 {
  font-size: 150%;
}

.cp_body_content h4 {
  font-size: 140%;
}

.cp_body_content p {
  padding: 1rem 0 1rem 0;
}

.cp_body_content .link_box {
  margin: 0;
  padding: 0;
  border: 0;
}

.cp_body_content .link_box a {
  display: inline-block;
  cursor: pointer;
  margin-left: 1rem;
  position: relative;
  padding: 1.5rem 0 1.5rem 0;
  border-bottom: 0;
  text-decoration: none;
  text-transform: uppercase;
}

.cp_body_content .link_box a:after {
  height: 0;
  width: 0;
  position: absolute;
  right: 100%;
  top: 50%;
  border: solid transparent;
  border-width: 0.8rem;
  border-left-color: #0a96f0;
  margin-top: -0.8rem;
  pointer-events: none;
  content: " ";
}

.cp_body_content .button_box {
  margin: 0;
  padding: 0;
  border: 0;
}

.cp_body_content .button_box a {
  display: inline-block;
  cursor: pointer;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem 4rem;
  border: none;
  border-radius: 0.2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #bd7931;
  background-clip: padding-box;
  color: #fff;
}

/** Panel **/

.panel-heading {
  text-align: center;
}

.panel-heading img {
  height: 100px;
}

.panel-heading h4 {
  padding: 20px 0 20px 0;
  text-decoration: none;
}

.panel-heading a:link,
.panel-heading a:hover,
.panel-heading h4:link,
.panel-heading h4:hover {
  text-decoration: none;
}

.panel-heading a:active,
.panel-heading a:focus {
  outline: 0;
}

.panel-heading {
  color: #337ab7;
  background-color: #f5f5f5;
}

.panel-heading:hover {
  color: #000;
  background-color: @if(envri==Envri.SITES) { #8FB17A } else { #bd7931 };
}

.panel a {
  text-decoration: none;
}
