@CpCommonPage("Carbon Portal's NetCDF Viewer"){
	<script src="https://static.icos-cp.eu/constant/leaflet/1.0.1/leaflet.js"></script>
	<link href="https://static.icos-cp.eu/constant/leaflet/1.0.1/leaflet.css" rel="stylesheet" />

	<style type="text/css">

	html, body, #main {
		height: 100%;
		margin: 0px;
		padding: 0px;
	}

	.leaflet-container, .leaflet-clickable, .leaflet-interactive {
		cursor: crosshair !important;
	}

	canvas.raster {
		image-rendering: optimizeSpeed;             /* Older versions of FF          */
		image-rendering: -moz-crisp-edges;          /* FF 6.0+                       */
		image-rendering: -webkit-optimize-contrast; /* Safari                        */
		image-rendering: -o-crisp-edges;            /* OS X & Windows Opera (12.02+) */
		image-rendering: pixelated;                 /* Awesome future-browsers       */
		-ms-interpolation-mode: nearest-neighbor;   /* IE                            */
	}

	.axis path, .axis line{
		fill: none;
		stroke: black;
	}

	</style>
}{
	<div id="main"></div>
	<script src="netcdf.js"></script>
}

