@import eu.icoscp.envri.Envri
@import se.lu.nateko.cp.meta.core.data.EnvriConfig

@(iframe: Boolean)(implicit envri: Envri, conf: EnvriConfig)
@if(iframe){
	@BarePage(pageTitle){
		@pageHeader
	}(pageBody)
} else {
	@CpCommonPage(pageTitle, authHost = conf.authHost, dataHost = conf.dataHost)(pageHeader)(pageBody)
}

@pageTitle = @{"Carbon Portal's NetCDF Viewer"}

@pageBody = {
	@if(iframe){
		<div id="main"></div>
	} else {
		<div id="main" style="height:700px;"></div>
	}
	@JavascriptConfig()
	<script type="text/javascript" src="./netcdf.js"></script>
}

@pageHeader = {
	<meta charset="UTF-8">
	<title>NetCDF</title>

	<link rel="shortcut icon" type="image/png" href="https://static.icos-cp.eu/images/favicon.png"/>

	<style type="text/css">
			body {
				padding: 0;
				margin: 0;
			}
			html, body, #main, #content {
				height: 100%;
				width: 100%;
				/*overflow: hidden;*/
			}
			#map-container {
				padding-top: 5px;
				padding-bottom: 10px;
			}
			#map {
				position: relative;
				float: left;
				width: calc(100% - 140px);
				height: 100%;
				margin: 0;
			}
			#legend{
				position: relative;
				float: right;
				width: 135px;
				height: 100%;
				margin: 0;
			}
			#legend svg {
				vertical-align: unset !important;
			}
			.leaflet-container, .leaflet-clickable, .leaflet-interactive {
				cursor: crosshair !important;
			}
	</style>
}
