@import se.lu.nateko.cp.meta.core.data.Envri
@import se.lu.nateko.cp.meta.core.data.EnvriConfig

@()(implicit envri: Envri, conf: EnvriConfig)
@template{
	<link rel="stylesheet" href="../portal/css/portal.css">
	<style type="text/css">
		@if(envri == Envri.SITES){
			.sites-page {
				max-width: 1400px;
			}
		} else {}
	</style>
}{
	<div id="main"></div>
	@JavascriptConfig()
	<script src="/portal/portal.js"></script>
}

@template = @{
if(envri == Envri.SITES) SitesPage("SITES data search", bootstrapJavascript = false, authHost = conf.authHost, dataHost = conf.dataHost) _
else CpCommonPage("Carbon Portal's data search", authHost = conf.authHost, dataHost = conf.dataHost) _
}
