@CpCommonPage("Carbon Portal's Statistics"){
  <link rel="stylesheet" href="//static.icos-cp.eu/css/react-widgets/css/react-widgets.css">
  <link rel="stylesheet" href="//static.icos-cp.eu/constant/leaflet/1.3.1/leaflet.css">
  <style type="text/css">
		.rw-multiselect-taglist > li{
			text-align: left !important;
			white-space: normal !important;
		}
		#map {
			width: 100%;
			padding-top: 75%;
			margin: 0;
			border: 1px solid #ddd;
			border-radius: 4px;
		}
	</style>
}{
	<div id="main"></div>
	<script src="stats.js"></script>
}
