@import se.lu.nateko.cp.meta.core.data.Envri
@import se.lu.nateko.cp.meta.core.data.Envri.Envri

@()(implicit envri: Envri)
@template{
	<script type="text/javascript" src="//static.icos-cp.eu/constant/dygraph/2.0.0/dygraph.min.js"></script>

	<link rel="stylesheet" href="../style/stats/css/react-widgets.css">
	<link rel="stylesheet" href="../style/stats/css/react-widgets-override.css">
	<link rel="stylesheet" href="//static.icos-cp.eu/constant/leaflet/1.3.1/leaflet.css">

	<style type="text/css">
		.rw-multiselect-taglist > li{
			text-align: left !important;
			white-space: normal !important;
		}
	</style>
}{
	<div id="main"></div>
	<script src="stats.js"></script>
}

@template = @{
	if(envri == Envri.SITES) SitesPage("SITES Statistics") _ else CpCommonPage("Carbon Portal's Statistics", cpauthHostOpt = None) _
}
