@CpCommonPage("Carbon Portal's STILT results visualization service"){
	<script src="https://static.icos-cp.eu/constant/leaflet/1.0.1/leaflet.js"></script>
	<script src="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0/leaflet.markercluster.js"></script>
	<link href="https://static.icos-cp.eu/constant/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0/MarkerCluster.Default.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0/MarkerCluster.css" rel="stylesheet" />

	<style type="text/css">

	.leaflet-container, .leaflet-clickable, .leaflet-interactive {
		cursor: crosshair !important;
	}

	</style>
}{
	<div id="main"></div>
	<script src="stilt.js"></script>
}

