@CpCommonPage("Carbon Portal's main data service prototype"){

	<script src="https://static.icos-cp.eu/constant/leaflet/1.0.1/leaflet.js"></script>
	<script src="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0/leaflet.markercluster.js"></script>
	<script src="https://static.icos-cp.eu/constant/leaflet/draw/0.4.0/leaflet.draw.js"></script>

	<link href="https://static.icos-cp.eu/constant/leaflet/1.0.1/leaflet.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0/MarkerCluster.Default.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0/MarkerCluster.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/leaflet/draw/0.4.0/leaflet.draw.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/react-pikaday/0.4.1/pikaday.css" rel="stylesheet" />

	<link rel="stylesheet" href="../wdcgg/css/wdcgg.css">
}{
	<div id="main"></div>
	<script src="/wdcgg/wdcgg.js"></script>
}

