/application.conf
/fileStorage/
*.class
*.log

# Node.js specific
node_modules/
src/main/resources/netcdf.js
src/main/resources/portal.js

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.project
.settings/
.classpath
.cache-main
.cache-tests
/bin/

nohup.out
*.*~
\#*\#

.idea

