<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="se.lu.nateko.cp.data.RestheartEtagWarningFilter"/>
    <encoder>
      <pattern>%date{ISO8601} %-5level [%thread] %X{akkaSource} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="org.irods.jargon" level="warn" />
  <!-- <logger name="se.lu.nateko.cp.data.streams.OutputStreamWithCleanup" level="debug" />
  <logger name="se.lu.nateko.cp.data.streams.ByteStringBuffer" level="debug" />
  <logger name="se.lu.nateko.cp.data.irods.IrodsClient" level="debug" /> -->

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
