//Override style coming from react-widgets
.rw-multiselect-taglist {
	display: inline !important;
}

.rw-widget-picker {
	display: inline-block;
}

.react-datepicker-popper {
	z-index: 1500 !important;
}

.react-datepicker__navigation .react-datepicker__navigation-icon::before {
	top: 12px;
}
