
.panel-srollable-controls {
	position: sticky;
	top: 0;
	margin-top: -10px;
	padding-top: 10px;
	background-color: white;
	box-shadow: rgb(221, 221, 221) 0 1px 0;
	z-index: 1;
}

.tab-pane .card {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 -1px 0 #ddd;
	box-shadow: 0 -1px 0 #ddd;
}

.tab-pane .card:last-child {
	border-radius: 0 0 0.4rem 0.4rem;
}

.extended-info-item {
	display: inline-block;
	margin-right: 16px;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.dashed {
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
}
ul.dashed > li {
	text-indent: -10px;
}
ul.dashed > li:before {
	content: "-";
	text-indent: -5px;
	margin-right: 5px;
}

.react-datepicker__navigation .react-datepicker__navigation-icon::before {
	top: 12px;
}

.form-check-input:hover:not(:checked)[type="checkbox"] {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
	background-color: #c1c5c8;
	border-color: rgba(0, 0, 0, 0.05);
}

.dropdown-details {
	position: relative;
}

.dropdown-details .summary-button {
	cursor: pointer;
	border: 1px solid #ccc;
	padding: .375rem .75rem;
	border-radius: 5px;
	list-style: none;
	user-select: none;
}

.dropdown-details .dropdown {
	position: absolute;
	top: auto;
	bottom: auto;
	border: 1px solid #ccc;
	z-index: 1;
	margin-top: 0.4rem;
	border-radius: 5px;
	background: white;
	box-shadow: 9px 8px 20px -18px rgba(0, 0, 0, 0.75);
}

.map-non-editable {
	width: 100%;
	height: 18rem;
	position: relative;
	filter: grayscale(1);
}

.map-dialog {
		border: none;
		background: none;
	--bs-modal-zindex: 1055;
	--bs-modal-padding: 1rem;
	--bs-modal-margin: 0.5rem;
	--bs-modal-color: ;
	--bs-modal-bg: var(--bs-body-bg);
	--bs-modal-border-color: var(--bs-border-color-translucent);
	--bs-modal-border-width: var(--bs-border-width);
	--bs-modal-border-radius: var(--bs-border-radius-lg);
	--bs-modal-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	--bs-modal-inner-border-radius: calc(var(--bs-border-radius-lg) - (var(--bs-border-width)));
	--bs-modal-header-padding-x: 1rem;
	--bs-modal-header-padding-y: 1rem;
	--bs-modal-header-padding: 1rem 1rem;
	--bs-modal-header-border-color: var(--bs-border-color);
	--bs-modal-header-border-width: var(--bs-border-width);
	--bs-modal-title-line-height: 1.5;
	--bs-modal-footer-gap: 0.5rem;
	--bs-modal-footer-bg: ;
	--bs-modal-footer-border-color: var(--bs-border-color);
	--bs-modal-footer-border-width: var(--bs-border-width);
}

.map-dialog::backdrop {
	background: rgba(0, 0, 0, 0.5);
}

.map-editable {
	height: 80vh;
}

.map-overlay-wrapper {
	cursor: pointer;
	transition: all 0.5s;
}

.map-overlay {
	background-color: var(--bs-secondary-bg-subtle);
	opacity: .1;
	width: 100%;
	height: 100%;
}

.map-overlay-wrapper:hover .map-overlay {
	background-color: black;
}

.map-overlay-icon {
	font-size: 2.5rem;
	color: #444;
	transition: all 0.1s linear;
	opacity: 0;
}

.map-overlay-wrapper:hover .map-overlay-icon {
	font-size: 2.7em;
	color: #222;
	opacity: 1;
}