
.panel-srollable-controls {
	position: sticky;
	top: 0;
	margin-top: -10px;
	padding-top: 10px;
	background-color: white;
	box-shadow: rgb(221, 221, 221) 0 1px 0;
	z-index: 1;
}

.tab-pane .panel {
	margin-bottom: 0;
	border: 0;
	border-radius: 0;
	-webkit-box-shadow: 0 -1px 0 #ddd;
	box-shadow: 0 -1px 0 #ddd;
}

.extended-info-item {
	display: inline-block;
	margin-right: 16px;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul.dashed {
	list-style-type: none;
	margin: 0;
	padding-left: 10px;
}
ul.dashed > li {
	text-indent: -10px;
}
ul.dashed > li:before {
	content: "-";
	text-indent: -5px;
	margin-right: 5px;
}

.mb-2 {
	margin-bottom: 0.5rem;
}
// Customize width of Multiselect so that it does not flow over when screen is narrow
.rw-multiselect .rw-dropdown-list-autofill,
.rw-multiselect .rw-filter-input,
.rw-multiselect .rw-input,
.rw-multiselect .rw-input-reset {
  width:100% !important;
}
