.cp-slide-in{
	transition: all 0.5s ease-in-out;
	float: right;
}
.cp-slide-in-open {
	margin-right: 0;
}
.cp-slide-in-close {
	margin-right: -300px;
}
.cp-slide-in-content{
	width: 300px;
	z-index: 9999;
}
