@CpCommonPage("Carbon Portal's main data service prototype"){
	<script src="https://static.icos-cp.eu/constant/leaflet/0.7.7/js/leaflet.min.js"></script>
	<script src="https://static.icos-cp.eu/constant/leaflet/0.7.7/js/leaflet.markercluster.min.js"></script>
	<script src="https://static.icos-cp.eu/constant/leaflet/0.7.7/js/leaflet.draw.min.js"></script>
	<link href="https://static.icos-cp.eu/constant/leaflet/0.7.7/css/leaflet.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/leaflet/0.7.7/css/MarkerCluster.Default.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/leaflet/0.7.7/css/MarkerCluster.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/leaflet/0.7.7/css/leaflet.draw.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/react-pikaday/0.4.1/pikaday.css" rel="stylesheet" />
	<link href="portal.css" rel="stylesheet" />
}{
	<div id="main"></div>
	<script src="portal.js"></script>
}

