@CpCommonPage("Carbon Portal's STILT results visualization service"){
	<script src="https://static.icos-cp.eu/constant/leaflet/1.0.0-rc3/leaflet.min.js"></script>
	<script src="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0-rc.1/leaflet.markercluster.min.js"></script>
	<link href="https://static.icos-cp.eu/constant/leaflet/1.0.0-rc3/leaflet.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0-rc.1/MarkerCluster.Default.css" rel="stylesheet" />
	<link href="https://static.icos-cp.eu/constant/leaflet/markercluster/1.0.0-rc.1/MarkerCluster.css" rel="stylesheet" />
}{
	<div id="main"></div>
	<script src="stilt.js"></script>
}

